$fontBase: "Josefin Sans", sans-serif;
$fontSecondary: "Aleo", serif;
$fontSizeBase: 16px;
$colorBase: #5474fd;

body {
  background: #ffffff;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

body,
form,
div,
p,
a,
ul,
img,
h1,
h2,
h3,
h4,
h5,
h6,
table,
table tr,
table td {
  border: none;
  color: #000000;
  font-family: $fontBase;
  font-size: $fontSizeBase;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  outline: none;
  font-family: Arial;
  font-size: 12px;
  box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;
}

a:hover {
  text-decoration: none;
}

.mainer {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  background-image: url(../images/button.png);
  background-position: center;
  background-size: cover;
  border: none;
  font-family: $fontSecondary;
  text-transform: uppercase;
  font-size: $fontSizeBase;
  color: #fff;
  height: 60px;
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;
  max-width: 250px;
  &:focus {
    background-color: #496bfe;
    background-image: none;
  }
  &:hover {
    transform: scale(1.015);
  }
}

//  HEADER
.header {
  background-image: url(../images/header-bg.png);
  background-position: center;
  background-size: cover;
  padding: 267px 0 135px;

  @media screen and (max-width: 768px) {
    padding: 150px 0 80px;
  }

  @media screen and (max-width: 425px) {
    padding: 60px 0 60px;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0 0 6px 0;

    @media screen and (max-width: 425px) {
      font-size: 36px;
    }
  }
  &__subtitle {
    font-size: 22px;
    text-align: center;
    color: #fff;
    letter-spacing: 6px;
    font-weight: 300;
    margin: 0 0 50px 0;

    @media screen and (max-width: 425px) {
      margin: 0 0 20px 0;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    max-width: 650px;
    margin: 0 auto 120px;

    @media screen and (max-width: 425px) {
      flex-direction: column;
      margin: 0 auto 60px;
    }

    .header__input {
      font-size: $fontSizeBase - 2px;
      font-family: $fontBase;
      color: #999999;
      background-color: #fff;
      letter-spacing: 2px;
      font-weight: 300;
      border: none;
      padding: 22px 0 22px;
      text-align: center;
      width: 77%;

      @media screen and (max-width: 425px) {
        width: 100%;
      }
    }

    .header__input:focus:invalid {
      border: 1px solid #ff6363;
    }

    .header__submit {
      background-color: $colorBase;
      border: 2px solid #fff;
      outline: none;
      padding: 0 20px 0 38px;
      display: flex;
      align-items: center;
      height: 60px;
      margin: 0 auto;
      justify-content: center;

      @media screen and (max-width: 425px) {
        width: 100%;
      }

      &:hover,
      &:focus {
        background-color: darken($colorBase, 5);
      }
      .header__text {
        font-family: $fontSecondary;
        text-transform: uppercase;
        color: #fff;
        font-size: $fontSizeBase - 2px;
        margin: 0 12px 0 0;
      }
      .header__icon-search {
        fill: #fff;
        width: 20px;
        height: 20px;
      }
    }
  }

  &__scroll {
    text-decoration: none;

    &:hover .header__scroll-icon {
      padding: 2px 0 0 0;
      box-sizing: border-box;
      transition-duration: 0.5s;
    }
    .header__scroll-name {
      font-family: $fontBase;
      font-size: $fontSizeBase - 2px;
      color: #fff;
      text-align: center;
      letter-spacing: 2px;
      font-weight: 300;
    }

    .header__scroll-icon {
      fill: #fff;
      width: 15px;
      height: 9px;
      margin: 0 auto;
    }
  }
}
// HEADER END

// MENU
.menu {
  background-color: $colorBase;
  padding: 29px 0 17px;

  @media screen and (max-width: 770px) {
    padding: 17px 0 17px;
  }

  @media screen and (max-width: 530px) {
    padding: 10px 0 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @media screen and (max-width: 770px) {
      flex-direction: column;
    }

    .menu__logo {
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 2px;
      text-decoration: none;
      flex-grow: 1;
      text-align: center;

      @media screen and (max-width: 768px) {
        margin: 0 0 10px 0;
      }
    }

    .menu__ul {
      list-style: none;
      display: flex;

      @media screen and (max-width: 530px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .menu__li {
        margin: 0 0 0 40px;

        @media screen and (max-width: 768px) {
          margin: 0 0 0 20px;
        }

        @media screen and (max-width: 530px) {
          margin: 0 0 10px 10px;
        }

        .menu__link {
          font-family: $fontSecondary;
          font-size: $fontSizeBase - 2px;
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          text-align: center;

          &:hover {
            padding-top: 3px;
            border-top: 1px solid #fff;
          }
          &:focus {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
// MENU END

// WHY-US
.why-us {
  background-image: url(../images/why-us_bg.png);
  background-position: center;
  background-size: cover;
  padding: 120px 0 120px;

  @media screen and (max-width: 640px) {
    padding: 50px 0 50px;
  }

  @media screen and (max-width: 320px) {
    padding: 30px 0 30px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      align-items: center;
    }

    .why-us__col-images {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 48.65%;

      @media screen and (max-width: 640px) {
        display: none;
        width: 0;
      }
      .why-us__image {
        img {
          width: 100%;
        }
      }
      .why-us__image--translate {
        transform: translateX(-125px);
        @media screen and (max-width: 1024px) {
          transform: none;
        }
      }
    }

    .why-us__col-text {
      width: 48.65%;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 640px) {
        width: 100%;
        align-items: center;
      }
      .why-us__title {
        font-family: $fontSecondary;
        font-size: 36px;
        color: #ffffff;
        margin: 75px 0 53px 0;

        @media screen and (max-width: 1024px) {
          margin: 15px 0 53px 0;
        }

        @media screen and (max-width: 640px) {
          text-align: center;
          margin: 15px 0 5px 0;
        }
      }

      .why-us__article {
        font-family: $fontBase;
        font-size: 16px;
        line-height: 26px;
        color: #e8e8e8;
        font-weight: 300;
        letter-spacing: 1.6px;
        margin: 0 0 42px 0;

        @media screen and (max-width: 640px) {
          margin: 20px 30px 42px;
        }
      }

      .why-us__btn {
        padding: 0 39px;
        margin: 0 0 12px 0;
      }
    }
  }
}
// WHY-US END

// HOW
.how {
  background-color: #333333;
  padding: 100px 60px 105px;

  @media screen and (max-width: 1240px) {
    padding: 100px 30px 105px;
  }

  @media screen and (max-width: 820px) {
    padding: 50px 27px 30px;
  }

  .how__wrapper {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 820px) {
      flex-direction: column;
    }

    .how__col {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      &:nth-child(2)::before,
      &:nth-child(3)::before {
        content: "";
        width: 305px;
        height: 88px;
        background-image: url(../images/Shape123.png);
        position: absolute;
        top: -54px;
        left: -270px;

        @media screen and (max-width: 1140px) {
          width: 0;
        }
      }

      @media screen and (max-width: 820px) {
        margin: 0 0 30px 0;
      }

      .how__icon-search {
        width: 57px;
        height: 57px;
        fill: $colorBase;
        margin: 0 0 25px 0;
      }

      .how__icon-select {
        width: 60px;
        height: 60px;
        fill: #ff6363;
        margin: 0 0 20px 0;
      }

      .how__icon-like {
        width: 62px;
        height: 59px;
        fill: #00a2ff;
        margin: 0 0 23px 0;
      }

      .how__description {
        font-family: $fontSecondary;
        color: #e8e8e8;
        font-size: 36px;
      }
    }
  }
}
// HOW END

// PlACES+PLACES-REVERSE
.places {
  background-image: url(../images/spain-villa.png);
  background-position: center;
  background-size: cover;
  padding: 229px 0 100px;

  @media screen and (max-width: 425px) {
    padding: 50px 0 50px;
  }

  @media screen and (max-width: 320px) {
    padding: 30px 0 30px;
  }

  .places__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1100px;

    background-color: rgba(#232323, 0.9);
    padding: 50px 30px;
    max-width: 540px;
    box-sizing: border-box;

    .places__pre-title {
      font-size: $fontSizeBase + 4px;
      color: #e8e8e8;
      letter-spacing: 2px;
      margin: 0 0 30px 0;
      font-weight: 300;
    }

    .places__title {
      font-size: $fontSizeBase + 4px;
      color: #e8e8e8;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0 0 22px 0;
      font-weight: 300;
    }

    .places__description {
      font-size: $fontSizeBase;
      color: #e8e8e8;
      line-height: 26px;
      margin: 0 0 42px 0;
      font-weight: 300;
    }
  }
}

.places--right {
  background-image: url(../images/spain-sea.png);
  overflow-x: hidden;
  overflow-y: hidden;

  .places__wrapper {
    float: right;
  }
}

//PlACES+PLACES-REVERSE END

// FEEDBACK
.feedback {
  background-image: url(../images/tourist-bg.png);
  background-position: center;
  background-size: cover;
  padding: 113px 0 200px;

  @media screen and (max-width: 900px) {
    padding: 73px 0 120px;
  }

  @media screen and (max-width: 425px) {
    padding: 50px 0 50px;
  }

  .feedback__title {
    font-family: $fontSecondary;
    font-size: 36px;
    color: #fff;
    text-align: center;
    margin: 0 0 87px 0;

    @media screen and (max-width: 900px) {
      margin: 0 0 40px 0;
    }

    @media screen and (max-width: 425px) {
      font-size: 28px;
    }
  }

  .feedback__wrapper {
    display: flex;
    background-color: #333333;
    @media screen and (max-width: 1048px) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }

    .feedback__image {
      width: 40%;
      @media screen and (max-width: 590px) {
        display: none;
      }

      img {
        width: 100%;
      }
    }

    .feedback__text {
      padding: 51px 45px 0px 50px;
      box-sizing: border-box;
      width: 60%;

      @media screen and (max-width: 1048px) {
        width: 100%;
        // text-align: justify;
      }

      @media screen and (max-width: 1100px) {
        padding: 20px 20px 20px 20px;
      }

      @media screen and (max-width: 1048px) {
        padding: 50px 30px;
      }

      .feedback__text-title {
        font-size: 20px;
        color: #fefefe;
        text-transform: uppercase;
        font-weight: 300;

        margin: 0 0 30px 0;

        @media screen and (max-width: 1048px) {
          margin: 0 0 10px 0;
        }
      }

      .feedback__text-itself {
        tab-size: $fontSizeBase;
        line-height: 26px;
        color: #e8e8e8;
        font-weight: 300;
        .feedback__quote {
          width: 20px;
          height: 17px;
          fill: $colorBase;
          margin: 0 0 11px 0;
        }
      }
    }
  }
}

// FEEDBACK END

// FOOTER
.footer {
  background-color: #232323;
  padding: 120px 0 48px;

  @media screen and (max-width: 425px) {
    padding: 50px 0 48px;
  }

  .footer__title {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
    margin: 0 0 11px 0;
  }

  .footer__subtitle {
    font-size: $fontSizeBase;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;

    margin: 0 0 30px 0;
  }

  .footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;

    [class^="footer__icon"] {
      cursor: pointer;
      fill: #e8e8e8;

      &:hover {
        fill: $colorBase;
        transform: rotate(360deg);
        transition-duration: 0.45s;
      }

      &:focus {
        fill: darken($colorBase, 5);
      }
    }
    .footer__icon-facebook {
      width: 9px;
      height: 16px;
      margin: 0 24px 0 0;
    }

    .footer__icon-twitter {
      width: 15px;
      height: 12px;
      margin: 0 24px 0 0;
    }

    .footer__icon-linkedin {
      width: 14px;
      height: 14px;
      margin: 0 24px 0 0;
    }

    .footer__icon-youtube {
      width: 16px;
      height: 12px;
      margin: 0 24px 0 0;
    }

    .footer__icon-pinterest {
      width: 14px;
      height: 14px;
    }
  }
}
// FOOTER END
